*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;500&display=swap');

$altura: 70vh;
$sombra: #ccc;
$borderRadius: 50px;

@mixin paddingLeft {
    padding-left: 100px;
}
@mixin paddingLR {
    padding: 0 40px;
}

body, html {
    height: 100%;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Roboto', sans-serif;
}

@keyframes anima {
    to {
        transform: initial
    }
}

.container {
    width: 70%;
    border-radius: $borderRadius;
    box-shadow: 0px 10px 30px $sombra;
    overflow: hidden;
    .box-general {
        display: flex;
        min-height: $altura;
        .box:nth-child(1){
            color: #fff;
            flex: 2;
            .logo {
                color: #fff;
                padding-top: 30px;
                @include paddingLeft;
                position: absolute;
                font-size: 20px;
                z-index: 2;
            }
            .full-banner {
                position: relative;
                border-radius: 0 $borderRadius $borderRadius 0;
                overflow: hidden;
                .slide-main {
                    display: flex;
                    height: $altura;
                    .slide-item {
                        display: flex;
                        justify-content: end;
                        padding-bottom: 100px;
                        height: $altura;
                        flex-direction: column;
                        background-image: url(https://images.pexels.com/photos/189349/pexels-photo-189349.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260);
                        background-size: cover;
                        .text {
                            padding-right: 240px;
                            h1 {
                                color: #fff;
                                @include paddingLeft;
                                justify-content: end;
                                align-items: baseline;
                                font-size: 37px;
                                margin-bottom: 10px;
                            }
                            p {
                                @include paddingLeft;
                                font-size: 14px;
                                padding-right: 0px;
                                font-weight: 300;
                            }
                            .btn {
                                @include paddingLeft;
                                margin-top: 20px;
                                a {
                                    display: inline-block;
                                    background: orange;
                                    text-decoration: none;
                                    color: #fff;
                                    font-size: 16px;
                                    padding: 10px 25px;
                                    border-radius: 5px;
                                }
                            }
                        }
                    }
                }
                .control {
                    position: absolute;
                    bottom: 40px;
                    z-index: 3;
                    left: 100px;
                    display: flex;
                    align-items: center;
                    .line {
                        width: 250px;
                        height: 4px;
                        background: rgba(255,255,255,.5);
                        margin-right: 20px;
                        border-radius: 3px;
                        position: relative;
                        overflow: hidden;
                        &.active{
                            &::after {
                                content: "";
                                width: 30%;
                                background: #fff;
                                position: absolute;
                                height: inherit;
                                transform: translateX(-100%);
                                animation: anima 1s linear forwards;
                            }
                        }
                    }
                }
            }
        }
        .box:nth-child(2) {
            flex: 1;
            padding: 50px 0 0;
            header {
                display: flex;
                justify-content: space-between;
                margin-bottom: 40px;
                @include paddingLR;
                .user {
                    display: flex;
                    align-items: center;
                    .name {
                        font-weight: bold;
                        margin-right: 10px;
                    }
                    .image {
                        img {
                            width: 40px;
                            height: 40px;
                            border-radius: 50%;
                            overflow: hidden;
                            object-fit: cover;
                        }
                    }
                }
                .nav {
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    justify-content:end;
                    cursor: pointer;
                    span {
                        height: 4px;
                        background: #000;
                        display: block;
                        width: 30px;
                        margin-bottom: 5px;
                        &:nth-child(2) {
                            background-image: linear-gradient(to right, #fff 30%, black 30%);
                        }
                        &:nth-child(3) {
                            background-image: linear-gradient(to right, #fff 70%, black 70%);
                        }
                    }
                }
            }
            #busca {
                @include paddingLR;
                margin-bottom: 40px;
                input {
                    background: rgb(238, 238, 238);
                    height: 40px;
                    border-radius: 5px;
                    border: none;
                    width: 100%;
                    padding: 0 10px;
                }
            }

            .destinations {
                h2 {
                    margin-bottom: 20px;
                    @include paddingLR;
                }
                ul {
                    list-style: none;
                    display: flex;
                    margin: 10px 0 30px;
                    @include paddingLR;
                    li {
                        padding-right: 15px;
                        a {
                            text-decoration: none;
                            color: rgb(124, 124, 124);
                            &.active {
                                color: #000;
                            }
                        }
                    }
                }
                .list {
                    margin-left: 40px;
                    .box-list {
                        overflow: hidden;
                        width: 408px;
                        .list-wrapper {
                            transition: .3s;
                            .list-item {
                                width: 170px;
                                overflow: hidden;
                                border: 1px #e4e4e4 solid;
                                padding: 4px;
                                border-radius: 5px;
                                float: left;
                                margin-right: 20px;
                                transition: .5s ease-in;
                                transform: scale(.93);
                                img {
                                    width: 100%;
                                    object-fit: cover;
                                    height: 150px;
                                    border-radius: 4px;
                                }
                                .name {
                                    font-weight: bold;
                                    font-size: 16px;
                                    margin: 5px 0;
                                }
                                .info {
                                    font-size: 12px;
                                    p {
                                        margin: 0;
                                        padding:0;
                                    }
                                }
                                .btn {
                                    margin-top: 10px;
                                    a {
                                        display: block;
                                        background: #b26953;
                                        text-decoration: none;
                                        color: #fff;
                                        font-size: 16px;
                                        padding: 10px 25px;
                                        border-radius: 5px;
                                        text-align: center;
                                    }
                                }
                                &.active {
                                    border-color: #ffa500;
                                    box-shadow: 0 0 10px #ffa50059;
                                    transform: scale(1)
                                }
                            }
                        }
                    }
                    .controls-list {
                        margin-top: 10px;
                        button {
                            display: inline-block;
                            padding: 7px 15px;
                            color: #fff;
                            background: #ffa500;
                            text-decoration: none;
                            font-size: 12px;
                            border-radius: 4px;
                            border: none;
                            cursor: pointer;
                            &:hover {
                                background: #db8f00;
                            }
                        }
                    }
                }
            }
        }
    }
}
