@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;500&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, html {
  height: 100%;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Roboto", sans-serif;
}

@keyframes anima {
  to {
    transform: initial;
  }
}
.container {
  width: 70%;
  border-radius: 50px;
  box-shadow: 0px 10px 30px #ccc;
  overflow: hidden;
}
.container .box-general {
  display: flex;
  min-height: 70vh;
}
.container .box-general .box:nth-child(1) {
  color: #fff;
  flex: 2;
}
.container .box-general .box:nth-child(1) .logo {
  color: #fff;
  padding-top: 30px;
  padding-left: 100px;
  position: absolute;
  font-size: 20px;
  z-index: 2;
}
.container .box-general .box:nth-child(1) .full-banner {
  position: relative;
  border-radius: 0 50px 50px 0;
  overflow: hidden;
}
.container .box-general .box:nth-child(1) .full-banner .slide-main {
  display: flex;
  height: 70vh;
}
.container .box-general .box:nth-child(1) .full-banner .slide-main .slide-item {
  display: flex;
  justify-content: end;
  padding-bottom: 100px;
  height: 70vh;
  flex-direction: column;
  background-image: url(https://images.pexels.com/photos/189349/pexels-photo-189349.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260);
  background-size: cover;
}
.container .box-general .box:nth-child(1) .full-banner .slide-main .slide-item .text {
  padding-right: 240px;
}
.container .box-general .box:nth-child(1) .full-banner .slide-main .slide-item .text h1 {
  color: #fff;
  padding-left: 100px;
  justify-content: end;
  align-items: baseline;
  font-size: 37px;
  margin-bottom: 10px;
}
.container .box-general .box:nth-child(1) .full-banner .slide-main .slide-item .text p {
  padding-left: 100px;
  font-size: 14px;
  padding-right: 0px;
  font-weight: 300;
}
.container .box-general .box:nth-child(1) .full-banner .slide-main .slide-item .text .btn {
  padding-left: 100px;
  margin-top: 20px;
}
.container .box-general .box:nth-child(1) .full-banner .slide-main .slide-item .text .btn a {
  display: inline-block;
  background: orange;
  text-decoration: none;
  color: #fff;
  font-size: 16px;
  padding: 10px 25px;
  border-radius: 5px;
}
.container .box-general .box:nth-child(1) .full-banner .control {
  position: absolute;
  bottom: 40px;
  z-index: 3;
  left: 100px;
  display: flex;
  align-items: center;
}
.container .box-general .box:nth-child(1) .full-banner .control .line {
  width: 250px;
  height: 4px;
  background: rgba(255, 255, 255, 0.5);
  margin-right: 20px;
  border-radius: 3px;
  position: relative;
  overflow: hidden;
}
.container .box-general .box:nth-child(1) .full-banner .control .line.active::after {
  content: "";
  width: 30%;
  background: #fff;
  position: absolute;
  height: inherit;
  transform: translateX(-100%);
  animation: anima 1s linear forwards;
}
.container .box-general .box:nth-child(2) {
  flex: 1;
  padding: 50px 0 0;
}
.container .box-general .box:nth-child(2) header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
  padding: 0 40px;
}
.container .box-general .box:nth-child(2) header .user {
  display: flex;
  align-items: center;
}
.container .box-general .box:nth-child(2) header .user .name {
  font-weight: bold;
  margin-right: 10px;
}
.container .box-general .box:nth-child(2) header .user .image img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  overflow: hidden;
  object-fit: cover;
}
.container .box-general .box:nth-child(2) header .nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: end;
  cursor: pointer;
}
.container .box-general .box:nth-child(2) header .nav span {
  height: 4px;
  background: #000;
  display: block;
  width: 30px;
  margin-bottom: 5px;
}
.container .box-general .box:nth-child(2) header .nav span:nth-child(2) {
  background-image: linear-gradient(to right, #fff 30%, black 30%);
}
.container .box-general .box:nth-child(2) header .nav span:nth-child(3) {
  background-image: linear-gradient(to right, #fff 70%, black 70%);
}
.container .box-general .box:nth-child(2) #busca {
  padding: 0 40px;
  margin-bottom: 40px;
}
.container .box-general .box:nth-child(2) #busca input {
  background: #eeeeee;
  height: 40px;
  border-radius: 5px;
  border: none;
  width: 100%;
  padding: 0 10px;
}
.container .box-general .box:nth-child(2) .destinations h2 {
  margin-bottom: 20px;
  padding: 0 40px;
}
.container .box-general .box:nth-child(2) .destinations ul {
  list-style: none;
  display: flex;
  margin: 10px 0 30px;
  padding: 0 40px;
}
.container .box-general .box:nth-child(2) .destinations ul li {
  padding-right: 15px;
}
.container .box-general .box:nth-child(2) .destinations ul li a {
  text-decoration: none;
  color: #7c7c7c;
}
.container .box-general .box:nth-child(2) .destinations ul li a.active {
  color: #000;
}
.container .box-general .box:nth-child(2) .destinations .list {
  margin-left: 40px;
}
.container .box-general .box:nth-child(2) .destinations .list .box-list {
  overflow: hidden;
  width: 408px;
}
.container .box-general .box:nth-child(2) .destinations .list .box-list .list-wrapper {
  transition: 0.3s;
}
.container .box-general .box:nth-child(2) .destinations .list .box-list .list-wrapper .list-item {
  width: 170px;
  overflow: hidden;
  border: 1px #e4e4e4 solid;
  padding: 4px;
  border-radius: 5px;
  float: left;
  margin-right: 20px;
}
.container .box-general .box:nth-child(2) .destinations .list .box-list .list-wrapper .list-item img {
  width: 100%;
  object-fit: cover;
  height: 150px;
  border-radius: 4px;
}
.container .box-general .box:nth-child(2) .destinations .list .box-list .list-wrapper .list-item .name {
  font-weight: bold;
  font-size: 16px;
  margin: 5px 0;
}
.container .box-general .box:nth-child(2) .destinations .list .box-list .list-wrapper .list-item .info {
  font-size: 12px;
}
.container .box-general .box:nth-child(2) .destinations .list .box-list .list-wrapper .list-item .info p {
  margin: 0;
  padding: 0;
}
.container .box-general .box:nth-child(2) .destinations .list .box-list .list-wrapper .list-item .btn {
  margin-top: 10px;
}
.container .box-general .box:nth-child(2) .destinations .list .box-list .list-wrapper .list-item .btn a {
  display: block;
  background: #b26953;
  text-decoration: none;
  color: #fff;
  font-size: 16px;
  padding: 10px 25px;
  border-radius: 5px;
  text-align: center;
}
.container .box-general .box:nth-child(2) .destinations .list .box-list .list-wrapper .list-item.active {
  border-color: #ffa500;
  box-shadow: 0 0 10px #ffa50059;
}
.container .box-general .box:nth-child(2) .destinations .list .controls-list {
  margin-top: 10px;
}
.container .box-general .box:nth-child(2) .destinations .list .controls-list a {
  display: inline-block;
  padding: 7px 15px;
  color: #fff;
  background: #ffa500;
  text-decoration: none;
  font-size: 12px;
  border-radius: 4px;
}
.container .box-general .box:nth-child(2) .destinations .list .controls-list a:hover {
  background: #db8f00;
}

/*# sourceMappingURL=style.css.map */
